:root {
    --primary: #030c06;
    --secondary: #9caea9;
    --light-dark: white;
    --dark: black;
    --border-radius: .5rem;
}

body {
    background-image: url('https://wallpaperaccess.com/full/1323936.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: var(--light-dark);
}

.form-label {
    display: block;
    font-size: 25px;
}
 
.btn {
    font-size: medium;
    font-weight: bolder;
    text-decoration: none;
    padding: 6px 8px;
    width: 20%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--dark);
}

.card {
    margin: 0 0 1px 0;
    border: 2px solid var(--light-dark);
    border-radius: var(--border-radius); 
}

.form-label {
    font-size: 25px;
    font-weight: bold;
}

.card-header {
    color: var(--light-dark);
    padding: 1%;
}

.card-body {
    padding: 1%;
    color: var(--light-dark);
}